{% extends '@App/layout.html.twig' %}

{% block body %}
    <div class="alert alert-danger">
        На странице произошла ошибка!
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block title %} Внутренняя ошибка {% endblock %}
