{% extends '@App/layout.html.twig' %}

{% block body %}
    <div class="alert alert-danger">
        ERROR 404
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block title %} 404 {% endblock %}
